<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Add Employee</title>
</head>
<body>
	<h1>Add Employee Form</h1><br></br>
	<form action = "/save" method = "post">
	Name:<br></br>
	<input type="text" name="name"></input><br></br>
	Surname:<br></br>
	<input type="text" name="surname"></input><br></br>
	Age:<br></br>
	<input type="text" name="age"></input><br></br>
	Department:<br></br>
	<input type="text" name = "department"></input><br></br>
	<input type="submit" value = "Submit"></input>
	</form>
</body>
</html>