<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Login Page</title>
<link rel="stylesheet" type="text/css" href="css/messages.css"/>
<link rel="stylesheet" type="text/css" href="css/login.css"/>
</head>
<body>
	<div class="wrapper">
		<h2>Employee Tracker Login Page</h2>
		<div class="info" th:style="${logout}? 'display:block' : 'display:none'">
			<p>You have logged out.Thank you for using the Employees application. Please visit us again.</p>
		</div>
		<div class="info" th:style="${userCreated}? 'display:block' : 'display:none'">
			<p>Your account has been created. Please login using the login form on this page.</p>
		</div>
		<div class="error" th:style="${loginError}? 'display:block' : 'display:none'">
			<p>Your username or password do not match our records. Please try again or contact the administrator.</p>
		</div>
		<form role="form" action="/login" method="post">
	    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
	    <div>
	        <label for="email">Email address</label>
	        <input type="email" name="email" id="email" required="true" autofocus="true"/>
	    </div>
	    <div>
	        <label for="password">Password</label>
	        <input type="password" name="password" id="password" required="true"/>
	    </div>
	    <div>
	        <label for="remember-me">Remember me</label>
	        <input type="checkbox" name="remember-me" id="remember-me"/>
	    </div>
	    <button type="submit">Sign in</button>
	    <br/>
	    <a href="/register">Create a new user</a>
	</form>
</div>
</body>
</html>